{% extends "base.html" %}

{% block title %}批量补休 - 温州市中心医院内镜中心管理系统{% endblock %}

{% block content %}
<h1>内镜中心管理系统<br><span>批量补休</span></h1>
<form method="POST" class="main-form" id="main-form">
    <div class="label">
        <label>名字</label>
    </div>
    <div class="checkboxes">
        {% for user in users%}
        <div>
            <input type="checkbox" name="{{ user }}" value="{{ user }}" />
            <span>{{ user }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="label">
        <label>补休时间区间</label>
    </div>
    <div>
        <input id="date1" name="date1" required type="datetime-local" class="first-datetime">
    </div>
    <div>
        <input id="date2" name="date2" required type="datetime-local">
    </div>
</form>
{% for message in get_flashed_messages() %}
<div class="alert">
    <span class="alert">{{ message }}</span>
</div>
{% endfor %}
<div class="buttonsets">
    <button onclick="document.getElementById('main-form').submit();">提交</button>
    <form method="get" id="batch" action="batch" hidden></form>
    <button onclick="document.getElementById('batch').submit();" class="button-right">返回</button>
</div>
{% endblock %}