{% extends "base.html" %}

{% block title %}添加用户 - 温州市中心医院内镜中心管理系统{% endblock %}

{% block content %}
<div class="body">
    <h1>内镜中心管理系统<br><span>添加用户</span></h1>
    <form method="POST" id="main-form" class="main-form">
        <input type="hidden" name="action" value="login" />
        <div class="label">
            <label>姓名</label>
        </div>
        <div>
            <input id="username" name="username" required type="text" value="" placeholder="请输入创建的姓名">
        </div>
        <div class="label">
            <label>密码</label>
        </div>
        <div>
            <input id="password" name="password" required type="password" value="" placeholder="请输入创建的密码">
        </div>
        <div class="label">
            <label>重复密码</label>
        </div>
        <div>
            <input id="password2" name="password2" required type="password" value="" placeholder="请再次输入创建的密码">
        </div>
        <div class="label">
            <span>邮箱</span>
        </div>
        <div>
            <input id="email" name="email" required type="text" value="" placeholder="请输入QQ邮箱">
        </div>
    </form>
    {% for message in get_flashed_messages() %}
    <div class="alert">
        <span class="alert">{{ message }}</span>
    </div>
    {% endfor %}
    <div class="buttonsets">
        <button onclick="document.getElementById('main-form').submit();">添加用户</button>
        <form method="get" id="user_manage" action="user_manage" hidden></form>
        <button onclick="document.getElementById('user_manage').submit();" class="button-right">返&emsp;&emsp;回</button>
    </div>
</div>
{% endblock %}